﻿@model IEnumerable<HospitalDB.ViewModel.KontrollaViewModel>

@{
    ViewBag.Title = "getPacientet";
}

<h2>getPacientet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symptom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnostik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Profesion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Symptom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnostik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Name)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Profesion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
