﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/iStock-1023224308s.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


