﻿@model HospitalDB.Prescription

@{
    ViewBag.Title = "Delete";
}

<h4>Are you sure you want to delete this?</h4>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakeIt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakeIt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeforeMeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeforeMeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientet.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
