﻿@model HospitalDB.Prescription

@{
    ViewBag.Title = "Details";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakeIt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakeIt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeforeMeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeforeMeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientet.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
