﻿@model IEnumerable<HospitalDB.Prescription>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create","",new { @class = "btn btn-primary"})
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakeIt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeforeMeal)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Pacientet.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakeIt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeforeMeal)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Pacientet.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
