﻿@model IEnumerable<HospitalDB.Kontrolla>

@{
    ViewBag.Title = "Index";
}

<h2>Shto nje kontroll te re per pacientin</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symptom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostik)
            </th>
            <th>
                <h5 style="top:10px;">Doctor Name</h5>
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symptom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
