﻿@model HospitalDB.Fakturat

@{
    ViewBag.Title = "Details";
}



<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diagnoza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnoza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qmimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qmimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientet.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Int }) |
    @Html.ActionLink("Back to List", "Index")
</p>
