﻿@model IEnumerable<HospitalDB.Fakturat>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create","",new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diagnoza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qmimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientet.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnoza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qmimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientet.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Int }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Int }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Int }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
